body {
  font-family: Arial, sans-serif;
  background-color: #8b8b8b;
  color: #999999;
  margin: 0;
  padding: 0;
}

nav {
  background: #333;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  text-decoration: underline;
}

.center-graphic {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: #b5d56e
}

.top-leagues {
  width: 18%;
  margin-left: 10px;
  background-color: #e8e8e8;
  text-align: center;
}

.my-bets {
  width: 18%;
  background-color: #e8e8e8
}

.my-bets h1 {
  text-align: center;
}

article {
  display:inline-table;
  margin: 5 px;
  padding: 15px;
  color: #333;
}