body {
  font-family: Arial, sans-serif;
  background-color: #8b8b8b;
  color: #333;
  margin: 0;
  padding: 0;
}

nav {
  background: #333;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  text-decoration: underline;
}

.center-graphic {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#recent-games {
  width: 100%;
  min-height: 300px;
  background-color:#b5d56e;
}

#recent-games h1 {
  text-align: center;
}

.top-leagues {
  width: 18%;
  margin-left: 10px;
  background-color: #e8e8e8;
  text-align: center;
}

.top-leagues a {
  color: #333;
}

.top-leagues a:hover {
  color: #b5d56e;
}

.leagues {
  display: inline-block;
}

.my-bets {
  width: 18%;
  min-height:400px;
  background-color: #e8e8e8
}

.my-bets h1 {
  text-align: center;
}

.bet-slip {
  width:90%;
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #333;
  padding-left: 5px;
}

.home-parent {
  margin: 0 auto;
  margin-top: 2%;
  width: 90%;
}

.home-child {
  float: left;
  margin: 5px;
  padding: 15px;
  color: #333;
}

.bets-page {
  margin: auto;
  width: 95%;
  padding-left:10px
}

.bet-entry {
  margin-top: 10px;
}

.rewards {
  width: 90%;
  margin:auto;
}

.rewards h1 {
  font-size: 50px;
}

.rewards h2 {
  font-size: 40px;
  padding-left: 30px;
}

.rewards h3 {
  text-align: right;
}

progress {
  width: 100%;
  height: 50px;
  /* Reset default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Style the track (empty part) */
progress::-webkit-progress-bar {
  background-color: #e0e0e0;
  border-radius: 10px;
}

progress::-moz-progress-bar {
  background-color: #b5d56e; /* Filled color for Firefox */
  border-radius: 10px;
}

/* Style the filled portion */
progress::-webkit-progress-value {
  background-color: #b5d56e;
  border-radius: 10px;
}

#hotline a {
  color: #333;
}

#hotline a:hover {
  color: #b5d56e;
}

#help {
  padding: 2%;
}

.helpline {
  display: inline-block;
}

.help-text {
  margin-left: 20px;
}