body {
  font-family: Arial, sans-serif;
  background-color: #8b8b8b;
  color: #333;
  margin: 0;
  padding: 0;
}

nav {
  background: #333;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  text-decoration: underline;
}

.center-graphic {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#recent-games {
  width: 100%;
  min-height: 300px;
  background-color:#b5d56e;
}

#recent-games h1 {
  text-align: center;
}

.top-leagues {
  width: 18%;
  margin-left: 10px;
  background-color: #e8e8e8;
  text-align: center;
}

.top-leagues a {
  color: #333;
}

.top-leagues a:hover {
  color: #b5d56e;
}

.leagues {
  display: inline-block;
}

.my-bets {
  width: 18%;
  min-height:400px;
  background-color: #e8e8e8
}

.my-bets h1 {
  text-align: center;
}

.bet-slip {
  width:90%;
  min-height: 300px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #333;
  padding-left: 5px;
}

.home-parent {
  margin: 0 auto;
  margin-top: 2%;
  width: 90%;
}

.home-child {
  float: left;
  margin: 5px;
  padding: 15px;
  color: #333;
}

#hotline a {
  color: #333;
}

#hotline a:hover {
  color: #b5d56e;
}

#help {
  padding: 2%;
}

.helpline {
  display: inline-block;
}

.help-text {
  margin-left: 20px;
}